*{
    margin:0;
    padding:0;
}

body{
    background-color: #90A8BA;
    font-family: "Inter", sans-serif;
}

header{
    display: flex;
    background-color: #94C7E2;
    height: 80px;
    justify-content: space-around;
}

header a{
  margin-top:30px;
  color: #111;
}

header a:hover{
  transform: scaleX(1.05);
}

.logo{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.logo h2{
    margin-top: 17px;
}

.nav-btn{
    text-decoration: none;
}

img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

#typewriter{
    margin-left: 300px;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 200;
    width: 60px;
    font-style:oblique;
}